.header-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-navbar);
}

.header-logo {
  margin-left: 20px;
}

.header-toggle-buttons button {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 5px 15px;
    margin: 5px 10px;
    border: 2px solid var(--text-primary);
    cursor: pointer;
}
